@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* Shared styles */
.auto-container {
  max-width: 1440px;
  margin: 0 auto;
}

.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.primary-color {
  color: #ff900e;
}

/* Navigation styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}

.nav-text {
  font-size: 3rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff900e;
}
