@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* Shared styles */
.auto-container {
  max-width: 1440px;
  margin: 0 auto;
}

.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.primary-color {
  color: #ff900e;
}

section {
  padding-top: 4rem;
}
/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: #fff;
  margin-top: 2.4rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #e67e22;
}

/* Navigation styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}

.nav-text {
  font-size: 3rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff900e;
}

/* Hero section styles */

.hero-content {
  text-align: center;
  max-width: 862px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  line-height: 1.2;
}

.hero-content p {
  padding: 0 4rem;
}

.hero-bannar {
  margin-top: 4rem;
}

.hero-bannar img {
  width: 100%;
  height: auto;
  display: block;
}
