@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

/* Shared styles */
.auto-container {
  max-width: 1440px;
  margin: 0 auto;
}

.dark-1 {
  color: #131313;
}

.dark-2 {
  color: #424242;
}

.dark-3 {
  color: #727272;
}

.primary-color {
  color: #ff900e;
}

/* header styles */
header {
  background: rgba(255, 144, 14, 0.1);
}

.btn-primary {
  background-color: #ff900e;
  color: #fff;
  margin-top: 2.4rem;
  padding: 1.2rem 2.4rem;
  border: none;
  border-radius: 8px;
  font-size: 1.4rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #e67e22;
}

/* Navigation styles */

header {
  padding: 2rem 0 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-text {
  font-size: 3rem;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 3rem;
}

.nav-links li a {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #ff900e;
}

/* Hero section styles */

.hero,
.team-section,
.features-section,
.some-fect {
  margin-top: 4rem;
}

.hero-content {
  text-align: center;
  max-width: 862px;
  margin: 0 auto;
}

.hero-content h1 {
  font-size: 3.8rem;
  font-weight: 800;
  margin-bottom: 1.6rem;
  line-height: 1.2;
}

.hero-content p {
  padding: 0 4rem;
}

.hero-bannar {
  margin-top: 4rem;
}

.hero-bannar img {
  width: 100%;
  height: auto;
  display: block;
}

/* Team section styles */
.team-section {
  display: flex;
  gap: 4rem;
  align-items: center;
  padding-top: 4rem;
}

.team-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.team-images img {
  width: 342px;
  height: 342px;
}

.team-content {
  max-width: 540px;
}

.team-content h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.team-title-1 {
  font-weight: 500;
}

/* Features section styles */
.features-section {
  display: flex;
  justify-content: space-between;
  gap: 8rem;
  padding-top: 4rem;
}

.features-discription h2 {
  max-width: 500px;
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 1.6rem;
  padding-left: 1rem;
  border-left: 5px solid #ff900e;
}

.features-discription p {
  line-height: 2rem;
  margin-bottom: 2.4rem;
}

.features-cards {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-card {
  padding: 20px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.feature-card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.feature-card p {
  line-height: 30px;
}

.features-img {
  position: relative;
  width: 100%;
  object-fit: contain;
}

.features-exp {
  position: absolute;
  bottom: -30px;
  left: -90px;
  padding: 2rem 3rem;
  color: white;
  background: #ff900e;
  text-align: center;
  border-radius: 10px;
}

.features-exp h2 {
  font-size: 4rem;
  margin-bottom: 8px;
}

/* Some Fact */

.some-content {
  max-width: 542px;
}

.some-content h2,
.spons-content h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.some-content p,
.icon-card p,
.spons-content p {
  line-height: 30px;
  max-width: 568px;
}

.icon-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
  padding: 4rem;
}

.icon-card {
  width: 242px;
  height: 242px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ff900e;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.icon-card img {
  width: 50px;
}

.icon-card h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 15px 0px;
}

/* Sponsors section */

.spons-cont {
  margin-top: 110px;
}

.spons-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
}

.spons-img {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 1rem;
  margin-top: 70px;
}

.spons-img img {
  filter: grayscale(100%);
  opacity: 0.7;
  transition: 0.3s ease;
}

.spons-img img:hover {
  filter: grayscale(0);
  opacity: 1;
}

footer {
  text-align: center;
  background: rgba(255, 144, 14, 0.1);
  padding: 38px 0;
  margin-top: 130px !important;
  margin-bottom: 70px !important;
  border-radius: 8px;
}
